* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.1rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  height: 100vh;
}

/* Layout */

.form-container {
  border: 2px solid black;
  position: absolute;
  top: 10%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 50%;
  padding: 20px;
  border-radius: 20px;
}

.form-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  width: 50%;
}

.form-right {
  padding: 10px;
  width: 50%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* Elements left */

.input-left {
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
}

.main-button {
  width: 80%;
  align-self: center;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

/* Elements right */

.progress-bar {
  margin-top: 30px;
  border-left: 3px solid black;
  border-right: 3px solid lightgray;
  border-top: 3px solid black;
  border-bottom: 3px solid lightgray;
  padding: 20px;
  border-radius: 90%;
  font-weight: bold;
  font-size: 1.6rem;
}

#profile-completness {
  font-weight: 500;
  font-size: 1.1rem;
}

.profile-tasks {
  background-color: lightgray;
  height: 100%;
  width: 80%;
  border-radius: 20px;
  padding: 10%;
}

.task {
  font-size: 0.8rem;
  line-height: 20px;
}

.task-completed {
  color: grey;
  text-decoration: line-through;
}
